body, h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway", sans-serif;
  }
  
  /* Add any additional CSS customization here */
  
  /* Example: Adding custom color or animation */
  .w3-main {
    margin-left: 300px;
  }
  
  
  .project-img {
    width: 100%;
    height: 250px; /* Adjust height as needed */
    object-fit: cover;
  }
  .about-img {
    width: 100%;  /* Make sure the image takes up the full width of its container */
    height: 250px;  /* Set a consistent height for all images */
    object-fit: cover;  /* Ensure the image covers the space without stretching */
    border-radius: 8px;  /* Optional: Adds rounded corners to the images */
  }